h1 {

	font-size: 130px;
	text-align:center;
	margin-top: 5%;
	font-family: 'Abel', sans-serif;
	display: inherit;
	
	}
	
	h2 {
	
	margin-left:500px;
	
	}

body {
	
	background-color: orange;
}

img {
	position:absolute;
	left: 37.5%;
	top: 0%;
	z-index: -1;
	width:25%;
		}

h4 {
	font-family: 'Roboto Condensed', sans-serif;
	text-align: center;
	margin-top: 5%;
}

input {
	
	line-height: 2em;
	font-family:'Quicksand', sans-serif;
	font-size: 25px;
	}

.form {
	
	text-align: center;
	border: none;
	padding:0;
	
}

input[type=submit] {
	background:#ccc;
	border:0 none;
    cursor:pointer;
    margin-top:10%;
    }

.container {
	
	height: 100%;
	width: 100%;	
}

/* code relating to pecanData */

.twitter-timeline {
	
	height: 100%;
	width: 15%;
	data-chrome: transparent;
	
}

