Skip to content
This repository  
Search
Pull requests
Issues
Gist
 @Ophirr33
 Watch 1,452
  Star 31,660
  Fork 11,919 github/gitignore
 Code  Pull requests 155  Pulse  Graphs
Branch: master Find file Copy pathgitignore/Global/JetBrains.gitignore
38d6cac  on Oct 29, 2015
@tsteinholz tsteinholz Update JetBrains.gitignore
16 contributors @samskiter @thunsaker @arcresu @victorhaggqvist @yatskevich @quadroid @jturmel @ssinss @GingerGeek @Fuhrmann @ergl @drothmaler @Nainterceptor @cemmersb @tsteinholz @shiftkey
RawBlameHistory     49 lines (36 sloc)  905 Bytes
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio and Webstorm

*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries
# .idea/shelf

# Sensitive or high-churn files:
# .idea/dataSources.ids
# .idea/dataSources.xml
# .idea/sqlDataSources.xml
# .idea/dynamic.xml
# .idea/uiDesigner.xml

# Gradle:
# .idea/gradle.xml
# .idea/libraries

# Mongo Explorer plugin:
# .idea/mongoSettings.xml

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
Status API Training Shop Blog About Pricing
© 2016 GitHub, Inc. Terms Privacy Security Contact Help