<link href="p" rel="stylesheet" type="text/css">

<html>

<head>

<title>Pecan</title>

</head>

<body>

<h2 id="p1">Tester</h2>

<!-- Holds the twitter widget; maintained on left 15% of website -->

<a class="twitter-timeline" id="twitter-timeline" data-widget-id="691171097753075712" width="15%" height="100%" data-chrome="noheader"> Tweets</a>


<!--Div that will hold the pie chart-->
<div id="chart_div">
</div>

</body>

<!-- JS File imports -->

<!--Load the AJAX API-->
<script src="https://www.google.com/jsapi" type="text/javascript"></script>
<script src="https://platform.twitter.com/widgets.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
<script src="Pecan.js"></script>


</html>